html{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.6px;
    background-color: #fffef4;
}

h1{
    font-style: underline;
    font-style: italic;
    text-decoration: underline;
}

input {
    width: 10%;
}

p#result{
    text-decoration: underline;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }